
<div class="container">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>No</th>
        <th>Book Title</th>
        <th>Book Author</th>
        <th>Book Description</th>
        <th>Book Price</th>
        <th>Book Category</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>

      @for (book of bookList; let index = $index; track book) {
        <tr>
        <td>{{index+1}}</td>
        <td>{{ book.title }}</td>
        <!-- <td>{{ book.author?.authorName + ", " + book.author?.personName}}</td> -->
         <td>{{getLabelForBook(book)}}</td>
        <td>{{ book.desc }}</td>
        <td>{{ book.price }}</td>
        <td>{{ book.category }}</td>
        <td>
          <a (click)="editBook(index)"> <span><i class="bi bi-pencil-square"></i></span></a>
          <a (click)="deleteBook(index)"><span><i class="bi bi-trash"></i></span></a>
        </td>
      </tr>
      }

    </tbody>

  </table>
</div>
